/CollegeAMT/nbproject/private/
/CollegeAMT/build/
/AdvancedJavaLab/nbproject/private/
/AdvancedJavaLab/build/
/CollegeAMT/dist/
/AdvancedJavaLabb/nbproject/private/
/AdvancedJavaLabb/build/
/ClientCSITB/nbproject/private/
/ClientCSITB/build/
/TomCSITB/nbproject/private/
/TomCSITB/build/
